/* This file is not used now, but some of the rules may be useful in the future */

.details .place {
  margin-top: 0.25rem;
}

.main-block:not(.concise) .details div {
  padding-top: 0.005rem;
}

/* Move closer to start and up towards header */
.aside ul {
  padding-left: 1rem;
}


/* Remove the fake bullets from lists */
.aside li::before {
  content: auto;
}


/* When the class no-timeline is added we remove the after psuedo element from the header... */

/* Removes the psuedo element on h2 tags for this section */
.section.no-timeline h2::after {
  content: none;
}

/* Without adding padding the content is all up on the title */
.section.no-timeline h2 {
  padding-bottom: 1rem;
}

/* Add styles for little cards  */
.info-card{
  width: 220px;    
  float: left;    
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 1px 1px 4px black;
}